<ion-header>
  <ion-toolbar>
    <ion-title>Deudas Activas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let deuda of deudas" >
      <ion-item-options side="start">
        <ion-item-option [routerLink]="['/deudas-detalles',deuda.id]">Detalles</ion-item-option>
      </ion-item-options>

      <ion-grid>
        <ion-row>
          <ion-col size="3" style="background-color: lightskyblue">
            Cliente {{deuda.id}}
          </ion-col>
          <ion-col size="3" style="background-color: lightskyblue">
            Producto
          </ion-col>
          <ion-col size="3" style="background-color: lightskyblue">
            Fecha
          </ion-col>
          <ion-col size="3" style="background-color: lightskyblue">
            Monto
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item>
        <ion-row>
          <ion-col size="3">
            {{ deuda.clientes }}
          </ion-col>
          <ion-col size="3">
            {{ deuda.productos}}
          </ion-col>
          <ion-col size="3">
            {{ deuda.fecha }}
          </ion-col>
          <ion-col size="3">
            {{ moneda(deuda.monto) }}
          </ion-col>
        </ion-row>
      </ion-item>


        <!-- producto si no aparece ver el nombre en el insert a la tabla -->

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteDeudas(deuda.id)">Eliminar
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

  <ion-content side="end">
    <ion-button expand="block" [routerLink]="['/deudas']"> Añadir Deuda</ion-button>
  </ion-content>

</ion-content>
