<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ultima Deuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="content" #content>
  <ion-list>
    <ion-item-sliding *ngFor="let deuda of deudas" >
        <p *ngIf="deuda.id === getIdDeuda()">
          <ion-row>
            <img src="assets\icon\logo.jpg" class="ion-text-center">
          </ion-row>
          <ion-row>
            Cliente: {{deuda.clientes}}
            <br/>
          </ion-row>
          <ion-row>
            Fecha Ultimo Pago: {{deuda.fecha}}
            <br/>
          </ion-row>
            <ion-row>
              Deuda total: {{ moneda(deuda.monto) }}
            </ion-row>
          <br/><a>Telefono: {{paisCodigo}} {{deuda.telefono}}<br/></a>
          <ion-button href={{url+deuda.telefono}} color="success">
            <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-button>
          <ion-button (click)="tomarScreen()">
            <ion-icon name="image"></ion-icon>
          </ion-button>
          <ion-button (click)="generatePdf()">
            <ion-icon name="document"></ion-icon>
          </ion-button>
        </p>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<style>
  img{
    width: 5px;
    height: 5px;
  }
  ion-row{
      text-align: center;
  }
</style>
