<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles de la Deuda Canceladas</ion-title>
  </ion-toolbar>
</ion-header>

<body>
<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let historial of historiales" >
      <ng-container *ngIf="historial.idDeuda === getIdDeuda()">
        <p *ngIf="historial.id === getFirstId()">
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                Cliente: {{historial.clientes}}
              </ion-col>
              <ion-col size="12">
                Producto: {{historial.productos}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </p>

        <ion-grid>
          <ion-row>
            <ion-col size="6">
              Fecha: {{historial.fechas}}
            </ion-col>
            <ion-col size="6" *ngIf="historial.id === getFirstId()">
              pago: 0
              <a style="color: white">{{moneda(pagoAnterior(historial.montos))}}</a>
            </ion-col>
            <ion-col size="6" *ngIf="pagoAnteriorConsulta(historial.montos) > 0 && historial.id !== getFirstId()">
              Mercaderia por {{moneda(pagoAnterior(historial.montos))}}
            </ion-col>
            <ion-col size="6" *ngIf="pagoAnteriorConsulta(historial.montos) < 0 && historial.id !== getFirstId()">
              pago: {{moneda(pagoAnterior(historial.montos))}}
            </ion-col>
            <ion-col size="6">
              Deuda Total: {{ moneda(historial.montos) }}
            </ion-col>
          </ion-row>
        </ion-grid>

        <style>
          .hr {
            border-bottom: 2px solid #ccc;
            margin: 10px 0;
            width: 100%;
          }
        </style>

        <ion-grid>
          <ion-row *ngIf="pagoAnteriorConsulta(historial.montos) > 0 && historial.id !== getFirstId()">
            Detalles: {{historial.detalles}}
          </ion-row>
          <div class="hr"> </div>
        </ion-grid>

        <ng-container *ngIf="(historial.id === getLastId())">
          <p>Telefono: {{paisCodigo}} {{historial.telefono}}<br/></p>
          <ion-button href={{url+historial.telefono}} color="success">
            <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-button>
          <ion-button (click)="tomarScreen()">
            <ion-icon name="image"></ion-icon>
          </ion-button>
          <ion-button (click)="generatePDF()">
            <ion-icon name="document"></ion-icon>
          </ion-button>
        </ng-container>

      </ng-container>
    </ion-item-sliding>

  </ion-list>
</ion-content>
</body>
