<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Deudas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Seleccionar Producto</ion-label>
      <ion-select value="{{ selectedProductosId }}" [(ngModel)]="productosId">
        <ion-select-option
          *ngFor="let producto of productos"
          value="{{ producto.id }}"
        >{{ producto.name }}</ion-select-option
        >
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Seleccionar un cliente</ion-label>
      <ion-select value="{{ selectedClientesId }}" [(ngModel)]="clientesId">
        <ion-select-option
          *ngFor="let cliente of clientes"
          value="{{ cliente.id }}"
        >{{ cliente.name }}</ion-select-option
        >
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Añade el monto adeudado</ion-label>
      <ion-input [(ngModel)]="montoDeuda"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="addDeudas()">Añadir</ion-button>
  </ion-list>

  <ion-list>
    <ion-item-sliding *ngFor="let deuda of deudas">
      <ion-item-options side="start">
        <ion-item-option (click)="editDeudas(deuda)">Editar</ion-item-option>
      </ion-item-options>

      <ion-item>
        <ion-label>{{ deuda.clientes }}</ion-label>
        <ion-label>{{ deuda.monto }}</ion-label>
        <ion-label>{{ deuda.productos }}</ion-label>
        <!-- producto si no aparece ver el nombre en el insert a la tabla -->
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteDeudas(deuda.id)"
        >Eliminar</ion-item-option
        >
      </ion-item-options>


    </ion-item-sliding>
  </ion-list>
</ion-content>
