<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Añadir Deuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label>Seleccionar Producto</ion-label>
      <ionic-selectable
        [(ngModel)]="seleccionarPro"
        [items]="productos"
        itemValueField="id"
        itemTextField="name"
        [canSearch]="true"
        (onChange)="portChangeP($event)"
      >
      </ionic-selectable>
    </ion-item>

    <ion-item>
      <ion-label>Seleccionar un cliente</ion-label>
      <ionic-selectable
        [(ngModel)]="seleccionarCli"
        [items]="clientes"
        itemValueField="id"
        itemTextField="name"
        [canSearch]="true"
        (onChange)="portChangeC($event)"
      >
      </ionic-selectable>
    </ion-item>

    <ion-item>
      <ion-label>Seleccionar el recordatorio</ion-label>
      <ionic-selectable
        [(ngModel)]="seleccionarRec"
        [items]="recordatorio"
        itemValueField="id"
        itemTextField="recordatorio"
        [canSearch]="true"
        (onChange)="portChangeR($event)"
      >
      </ionic-selectable>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Añade el monto adeudado</ion-label>
      <ion-input [(ngModel)]="montoDeuda"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Fecha de la deuda</ion-label>
      <ion-datetime placeholder="DD/MM/YYYY"
                    display-format="DD-MMM-YYYY"
                    cancel-text="atras"
                    [ngModel]="auxfecha.toDateString()"
                    (ionChange)="cambioFecha($event)"
      ></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Detalles de la deuda</ion-label>
      <ion-input [(ngModel)]="detalles"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Añade el monto adeudado</ion-label>
    </ion-item>

    <ion-button expand="block" (click)="addDeudas()"
                [routerLink]="['/deudas-detalles']" >Añadir</ion-button>
  </ion-list>

  <style>
    table,th,td{
      border: 2px solid black;
    }
    th, td{
      padding: 10px;
    }
    th{
      text-align: center;
    }
  </style>

  <table style="width: 100%;">
    <tr>
      <th>Observacion: Si el cliente ya posee una deuda, esta no se creara
        hasta cancelar la deuda anterior</th>
    </tr>
  </table>

</ion-content>
