<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Clientes con Deudas Canceladas</ion-title>
  </ion-toolbar>
  <ion-searchbar
    animated
    placeholder="Buscar Deudor"
    showCancelButton="focus"
    cancelButtonText="Cancelar"
    [(ngModel)]="textoBuscar">
  </ion-searchbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="6">Cliente</ion-col>
          <ion-col size="6">Fecha</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item-sliding
      *ngFor="let deuda of deudas | filter:textoBuscar | paginate: { itemsPerPage: 20, currentPage: p }"
      [routerLink]="['/deudas-canceladas-detalles', deuda.id]">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="6">{{ deuda.clientes }}</ion-col>
            <ion-col size="6">{{ deuda.fecha }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</ion-content>
