<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
  <ion-searchbar animated placeholder="Buscar Producto"
                 showCancelButton="focus" cancelButtonText="Custom Cancel"
                 [(ngModel)]="textoBuscar">
  </ion-searchbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Productos</ion-label>
      <ion-input [(ngModel)]="nombreProducto"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="addProductos()">Guardar</ion-button>
  </ion-list>

  <ion-list>
    <ion-item-sliding *ngFor="let producto of productos | filter:textoBuscar">
      <ion-item-options side="start">
        <ion-item-option (click)="editProductos(producto)">Edit</ion-item-option>
      </ion-item-options>

      <ion-item>
        <ion-label>{{ producto.name }}</ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteProductos(producto.id)"
        >eliminar</ion-item-option
        >
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
