<ion-header [translucent]="true"  no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ajustes</ion-title>
  </ion-toolbar>
  <ion-searchbar animated placeholder="Buscar Cliente"
                 showCancelButton="focus" cancelButtonText="Custom Cancel"
                 [(ngModel)]="textoBuscar">
  </ion-searchbar>

</ion-header>


<ion-content>
  <ion-list>
    <div class="ion-text-start">
      <ion-button (click)="importarContactos()">Importar Contactos</ion-button>
    </div>

    <ion-item *ngFor="let contact of contacts | filter:textoBuscar">
      <ion-label class="ion-text-wrap">
        <ion-icon *ngIf="!contact.photoThumbnail" color="primary" slot="start" name="beer"></ion-icon>
        <ion-avatar *ngIf="contact.photoThumbnail"  slot="start">
          <ion-img [src]="contact.photoThumbnail"></ion-img>
        </ion-avatar>
        <ion-text *ngIf="contact.phoneNumbers.length > 0" color="dark">
          <h3>{{contact.displayName}}</h3>
          <h3>{{contact.phoneNumbers[0].number}}</h3>
        </ion-text>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
