<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Clientes con Deudas</ion-title>
  </ion-toolbar>
  <ion-searchbar animated placeholder="Buscar Deudor"
                 showCancelButton="focus" cancelButtonText="Custom Cancel"
                 [(ngModel)]="textoBuscar">
  </ion-searchbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="5">
            Cliente
          </ion-col>
          <ion-col size="4">
            Deuda
          </ion-col>
          <ion-col size="3">
            Pago
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item *ngFor="let deuda of deudas | filter:textoBuscar" [routerLink]="['/deudas-detalles',deuda.id]" >
        <ion-grid>
          <ion-row>
            <ion-col size="5">
                {{deuda.clientes}}
            </ion-col>
            <ion-col size="4">
              {{ moneda(deuda.monto) }}
            </ion-col>
            <ion-col size="3">
              {{ deuda.recordatorio}}
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-item>
  </ion-list>

  <ion-content side="end">
    <ion-button expand="block" [routerLink]="['/deudas']"> Añadir Deuda</ion-button>
  </ion-content>

</ion-content>
