<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Clientes con Deudas</ion-title>
  </ion-toolbar>
  <ion-searchbar animated placeholder="Buscar Deudor"
                 showCancelButton="focus" cancelButtonText="Custom Cancel"
                 [(ngModel)]="textoBuscar">
  </ion-searchbar>
</ion-header>

<ion-content>
  <ion-label>
    Clientes
  </ion-label>

  <ion-list>
    <ion-item *ngFor="let deuda of deudas | filter:textoBuscar" [routerLink]="['/deudas-activas',deuda.id]" >

      <ion-grid>
        <ion-row>
            {{deuda.clientes}}
        </ion-row>
      </ion-grid>

    </ion-item>
  </ion-list>

  <ion-content side="end">
    <ion-button expand="block" [routerLink]="['/deudas']"> Añadir Deuda</ion-button>
  </ion-content>

</ion-content>
