<ion-header>
  <ion-toolbar>
    <ion-title>Editar Deuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    editDeudas(deudas)
    <ion-item-sliding >

      <ion-item>
        <ion-label>{{ deudas.clientes }}</ion-label>
        <ion-label>{{ deudas.produtos }}</ion-label>
        <ion-label>{{ deudas.fecha }}</ion-label>
        <ion-label>Monto a abonar</ion-label>

        <ion-label>{{ deudas.monto }}</ion-label>
      </ion-item>


    </ion-item-sliding>


  </ion-list>

</ion-content>
