<ion-header [translucent]="true" no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Clientes</ion-title>
  </ion-toolbar>
  <ion-searchbar animated placeholder="Buscar Cliente"
                 showCancelButton="focus" cancelButtonText="Custom Cancel"
                 [(ngModel)]="textoBuscar">
  </ion-searchbar>
</ion-header>

<ion-content>
  <ion-list>


    <ion-item>
      <ion-label position="floating">Nombre del Cliente</ion-label>
      <ion-input [(ngModel)]="clienteNombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Celular del Cliente</ion-label>
      <ion-label>{{ paisCodigo }}</ion-label>
      <ion-input [(ngModel)]="telefono"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Ci del Cliente</ion-label>
      <ion-input [(ngModel)]="ci"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Direccion del Cliente</ion-label>
      <ion-input [(ngModel)]="direccion"></ion-input>
    </ion-item>

    <section>
      <ion-button (click)="addClientes()">Añadir</ion-button>
    </section>
  </ion-list>

  <ion-list>
    <ion-item-sliding *ngFor="let cliente of clientes | filter:textoBuscar |
    paginate: { itemsPerPage: 20, currentPage: p }"
       titulo ="loading">
      <ion-item-options side="start">
        <ion-item-option (click)="editClientes(cliente)">Editar</ion-item-option>
      </ion-item-options>

      <ion-item [routerLink]="['/clientes-detalles', cliente.id]">
        <ion-label>{{ cliente.name }}</ion-label>
        <ion-label>{{ paisCodigo }} {{ cliente.telefono }}</ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteClientes(cliente.id)"
        >Eliminar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <pagination-controls (pageChange)="p = $event"></pagination-controls>

</ion-content>
